## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN"],axis=1, inplace=True)
application_df.columns

Index(['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_vc = application_df["APPLICATION_TYPE"].value_counts()
application_vc

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_vc[application_vc < 400].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_vc = application_df["CLASSIFICATION"].value_counts()

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_vc[classification_vc > 800]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_vc[classification_vc < 800].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)
application_df_encoded

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
# Separate the y variable, the labels
y = application_df_encoded["IS_SUCCESSFUL"].values

# Separate the X variable, the features
X = application_df_encoded.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(25724, 19611)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_inputs = len(X_train_scaled[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=number_inputs))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                1568960

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,571,421
Trainable params: 1,571,421
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [22]:
# Train the model
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.4828 - accuracy: 0.7686
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.1375 - accuracy: 0.9512
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0984 - accuracy: 0.9605
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0952 - accuracy: 0.9609
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0931 - accuracy: 0.9621
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0924 - accuracy: 0.9619
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0915 - accuracy: 0.9618
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0911 - accuracy: 0.9625
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0903 - accuracy: 0.9627
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0897 - accuracy: 0.9634
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0891 - accuracy: 0.9631
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0884 - accuracy: 0.9631
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0878 - accuracy: 0.9628
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0869 - accuracy: 0.9640
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0871 - accuracy: 0.9645
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0862 - accuracy: 0.9642
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0851 - accuracy: 0.9649
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0851 - accuracy: 0.9637
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0847 - accuracy: 0.9651
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0846 - accuracy: 0.9652
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0839 - accuracy: 0.9651
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0837 - accuracy: 0.9659
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0834 - accuracy: 0.9660
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0830 - accuracy: 0.9658
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0823 - accuracy: 0.9659
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0823 - accuracy: 0.9662
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0819 - accuracy: 0.9661
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0814 - accuracy: 0.9662
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0811 - accuracy: 0.9665
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0807 - accuracy: 0.9669
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0804 - accuracy: 0.9671
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0804 - accuracy: 0.9673
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0800 - accuracy: 0.9664
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0798 - accuracy: 0.9672
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0795 - accuracy: 0.9669
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0796 - accuracy: 0.9672
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0792 - accuracy: 0.9678
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0794 - accuracy: 0.9675
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0787 - accuracy: 0.9677
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0789 - accuracy: 0.9675
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0785 - accuracy: 0.9679
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0785 - accuracy: 0.9675
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0781 - accuracy: 0.9679
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0784 - accuracy: 0.9683
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0779 - accuracy: 0.9673
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0781 - accuracy: 0.9677
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0778 - accuracy: 0.9680
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0779 - accuracy: 0.9681
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0777 - accuracy: 0.9679
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0774 - accuracy: 0.9681

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7244 - accuracy: 0.7283 - 285ms/epoch - 1ms/step
Loss: 0.7243512272834778, Accuracy: 0.7282798886299133

In [24]:
# Export our model to HDF5 file
nn.save("optimized_1_charity.h5")